[submodule "IWA-Microservice-geolocation"]
	path = IWA-Microservice-geolocation
	url = https://github.com/Laurancy-Dorian/IWA-Microservice-geolocation
[submodule "IWA-Microservice-Proximity"]
	path = IWA-Microservice-Proximity
	url = git@github.com:PepitoSama/IWA-Microservice-Proximity.git
[submodule "IWA-Microservice-MVC"]
	path = IWA-Microservice-MVC
	url = git@github.com:PepitoSama/IWA-Microservice-MVC.git
[submodule "polytech.ADCE.User"]
	path = polytech.ADCE.User
	url = https://github.com/AnthonyDupre98/polytech.ADCE.User.git
